*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.carousel-overlay {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
    opacity: 0.5;
}