*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

body{
  background-color: #dbefff;
}


/*--Style for listener which retrieves the result of the city searched via the search button--*/
.list{
  display: block;
}
.list-item:hover{
  cursor: pointer;
  text-decoration: underline;
}







