*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

body{
  background-color: #dbefff;
}


/*--Style for listener which retrieves the result of the city searched via the search button--*/
.list{
  display: block;
}
.list-item:hover{
  cursor: pointer;
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
}

/*--Quando si visualizza da mobile, le categorie delle città vengono mostrate su una sola colonna--*/
.categories div {
  width: 25%;
  text-align: center;
}

@media (max-width: 768px) {
  .categories div {
    width: 100%;
    text-align: center;
  }
}
/*---------------------------------------*/

/*
div{
  border: 1px solid black;
}
*/

/*--Stile dei puntini colorati che accompagnano il nome delle categorie--*/
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgb(229, 236, 242);
  display: inline-block;
  margin-right: 10px;
}

/*--Stile del border della descrizione della città--*/
.border-container{
  border: 5px;
  border-color: #AADCEC;
  border-style: groove ;
  border-radius: 20px;
}

.windows-background{
  background-color: #ffffff30;
}